.navbar-background{
    background-color: #555a6e;
    background-color: black;
}

.links-hover a:hover , .links-hover button:hover{
    color: #faa51e;
}

.cart-button{
    border: none;
    color: white;
    font-size: 25px;
    background-color: transparent;
    position: relative;
    transition: transform 0.5s;
}

.cart-button span{
    font-size: 12px;
    position: absolute;
    top: -10%;
    left: 70%;
    background-color: #faa51e;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.cart-button:hover{
    transform: scale(1.15);
}