*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-box{
    margin-top: 100px;
}

.up-button{
    position: absolute;
    color: black;
    font-size: 35px;
    bottom: 0;
    right: 1%;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}